/*Fonts*/
@font-face {
  font-family: 'Cuprum';
  src: url('../fonts/cuprum.woff2') format('woff2'),
  url('../fonts/cuprum.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cuprum';
  src: url('../fonts/cuprumbold.woff2') format('woff2'),
  url('../fonts/cuprumbold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cuprum';
  src: url('../fonts/cuprumitalic.woff2') format('woff2'),
  url('../fonts/cuprumitalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Cuprum';
  src: url('../fonts/cuprumbolditalic.woff2') format('woff2'),
  url('../fonts/cuprumbolditalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PtSans';
  src: url('../fonts/ptsans.woff2') format('woff2'),
  url('../fonts/ptsans.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PtSans';
  src: url('../fonts/ptsansbold.woff2') format('woff2'),
  url('../fonts/ptsansbold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/*Colors*/

:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-blue: #32425C;
  --basic-blue-dark: #293449;
  --basic-red: #EE3643;
  --basic-gray: #C5C5C5;
  --basic-yellow: #FFD180;
  --basic-green: #63A63E;
  --basic-background: #F1F5F7;
  --basic-heading-background: #F9F5F0;
  --basic-white-transparent: rgba(255, 255, 255, .3);
  --basic-black-transparent: rgba(0, 0, 0, .25);
  --basic-color-border: #EAEAEA;

  /*Category*/
  --color-yellow: #FFBF47;
  --color-sky: #3BBCE3;
  --color-purple: #DC91D8;
  --color-green-white: #8ED78F;

  /*Header*/
  --color-header-phone-background: #F3F7F9;
  --color-header-phone-icon: #B7BFC8;
  --color-logo-shadow: rgba(0, 0, 0, 0.24);

  /*Title*/
  --background-title: #F2F6F8;

  /*Price old*/
  --color-price-old: #A9A9A9;

  /*Social*/
  --color-social: #212A3A;

  /*Catalog*/
  --backgroud-catalog-block: #F7F3EC;
  --shadow-product-cart-botton: #367315;

  /*Tabs*/
  --shadow-tabs-item: #405069;

  /*Pagination*/
  --pagination-border: #E5E5E5;

  /*Map*/
  --backgroud-map: #edeae3;

  /*Popup*/
  --background-popup-buttons: #F1F1F1;

  /*Hover*/
  --background-user-icon: #3D546F;
  --background-personal-link-count: #161D29;
  --background-button-hover: #CA2C37;
  --background-categoty-link-hover: rgba(197, 197, 197, .3);
  --background-product-cart-button-buy-hover: #5FBB2D;
  --filter-element-color-hover: #B5B5B5;

  /*Active*/
  --background-button-active: #BA2732;
  --background-categoty-link-active: rgba(169, 169, 169, .3);
  --background-product-cart-button-buy-active: #518534;
  --background-product-cart-button-marker-active: #D8D8D8;
  --color-footer-menu-link-active: #F1F5F7;
  --color-footer-nav-link-active: #FFD180;

  --basic-font: 'PtSans', 'Arial', sans-serif;
  --basic-font-additional: 'Cuprum', 'Arial', sans-serif;
}

/*Common style*/
.page {
  font-family: var(--basic-font);
  font-weight: 400;
  height: 100%
}

.page__body {
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: -webkit-min-content 1fr -webkit-min-content;
  -ms-grid-rows: min-content 1fr min-content;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  -ms-flex-line-pack: start;
  align-content: start;
}

.page a {
  text-decoration: none;
}

.container {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  width: 192px;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: var(--basic-white);
  background-color: var(--basic-red);
  text-transform: uppercase;
  font-family: var(--basic-font-additional);
  font-size: 14px;
  line-height: 18px;
  border: none;
}

button.button {
  cursor: pointer;
}

.button:hover {
  background-color: var(--background-button-hover);
}

.button:active {
  background-color: var(--background-button-active);
}

.title {
  font-family: var(--basic-font-additional);
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  margin-top: 0;
  margin-bottom: 25px;
  font-weight: normal;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.title--main {
  color: var(--basic-blue);
  background-color: var(--background-title);
  padding: 29px;
  margin-bottom: 20px;
}

.paragraph {
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
  margin-top: 0;
  margin-bottom: 20px;
}

.header {
  background-color: var(--basic-background);
  padding-bottom: 60px;
}

.header__top {
  background-color: var(--basic-blue);
}

.header__top-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 42px;
}

.logo {
  color: var(--basic-white);
  width: 220px;
  background-color: var(--basic-red);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 5px 5px 10px 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 -5px 0 var(--color-logo-shadow);
  box-shadow: inset 0 -5px 0 var(--color-logo-shadow);
}

.logo:active {
  background-color: var(--background-button-active);
}

.logo--header {
  height: 47px;
}

.search {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.search__input {
  font-family: var(--basic-font-additional);
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  background-color: transparent;
  border: none;
  padding-left: 42px;
  height: 100%;
  width: 100%;
}

.search__input:hover {
  fill: var(--basic-white);
}

.search__input::-webkit-input-placeholder {
  color: var(--basic-white);
}

.search__input:-ms-input-placeholder {
  color: var(--basic-white);
}

.search__input::-ms-input-placeholder {
  color: var(--basic-white);
}

.search__input::-moz-placeholder {
  color: var(--basic-white);
}

.search__input::placeholder {
  color: var(--basic-white);
}

.search__icon {
  position: absolute;
  left: 18px;
  top: 0;
  bottom: 0;
  background-color: transparent;
  border: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: .7;
}

.search:hover .search__button {
  opacity: 1;
}

.search__input:focus + .search__icon path {
  fill: var(--basic-red);
  opacity: 1;
}

.search__input:focus {
  outline: none;
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.personal-buttons__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.personal-buttons__item {
  width: 150px;
}

.personal-buttons__link-count,
.personal-buttons__link {
  font-family: var(--basic-font-additional);
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 42px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.personal-buttons__link-count--active {
  background-color: var(--basic-red);
}

.personal-buttons__link-count:active {
  background-color: var(--background-personal-link-count);
  opacity: .5;
}

.personal-buttons__link-count:hover .personal-buttons__icon {
  opacity: 1;
}

.personal-buttons__link {
  font-family: var(--basic-font-additional);
  background-color: var(--basic-green);
  margin: 0;
  padding: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.personal-buttons__link:hover {
  background-color: var(--background-product-cart-button-buy-hover);
}

.personal-buttons__link:active {
  opacity: .5;
}

.personal-buttons__icon {
  width: 16px;
  height: 16px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 8px;
  opacity: .3;
}

.header__middle {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 20px 1fr 20px 4fr 20px 4fr;
  grid-template-columns: 3fr 1fr 4fr 4fr;
  grid-template-areas: 'name . info auth';
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  padding-top: 45px;
  padding-bottom: 40px;
  min-height: 158px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.site-name {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  font-family: var(--basic-font-additional);
  color: var(--basic-red);
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  grid-area: name;
  width: calc(100% + 20px);
  margin: 0;
  padding-left: 30px;
}

.company-info {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: info;
  max-width: 270px;
  margin-left: -14px
}

.company-info__phone {
  font-family: var(--basic-font-additional);
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-red);
  background-color: var(--color-header-phone-background);
  border: 2px solid var(--basic-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 7px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 2px;
}

.company-info__phone::before {
  content: '';
  width: 19px;
  height: 19px;
  display: block;
  background-image: url('../img/svg/icon-phone.svg');
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 16px;
}

.company-info__address {
  font-family: var(--basic-font-additional);
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-blue-dark);
  font-style: normal;
  text-align: center;
}

.auth {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-area: auth;
  margin-left: auto;
}

.auth__button {
  font-family: var(--basic-font-additional);
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  height: 45px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.auth__button:hover {
  color: var(--basic-red);
}

.auth__button:hover path {
  fill: var(--basic-blue);
}

.auth__button:active {
  color: var(--basic-gray);
}

.auth__button:active path {
  fill: var(--basic-gray);
}

.auth__icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  margin-left: -10px;
}

.auth__button--login {
  width: 121px;
  margin-right: 10px;
}

.auth__button--register {
  padding: 12px 24px;
  width: 150px;
}

.user {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
  grid-area: auth;
}

.user__name {
  font-family: var(--basic-font-additional);
  font-size: 21px;
  line-height: 21px;
  background-color: var(--basic-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 5px 12px 4px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 7px;
  color: var(--basic-black);
}

.user__name:hover path {
  fill: var(--background-user-icon);
}

.user__name:active {
  color: var(--basic-gray);
}

.user__icon {
  width: 20px;
  height: 18px;
  padding-left: 10px;
  padding-right: 10px;
  display: block;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.personal-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.personal-menu__item {
  position: relative;
  margin-left: 16px;
  margin-right: 16px;
}

.personal-menu__item + .personal-menu__item::before {
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: var(--basic-blue);
  border-radius: 50%;
  left: -17px;
  top: 8px;
}

.personal-menu__link {
  font-family: var(--basic-font-additional);
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-blue);
}

.personal-menu__link:hover {
  color: var(--basic-red);
}

.personal-menu__link:active {
  color: var(--basic-gray);
}

.nav {
  background-color: var(--basic-blue);
  -webkit-box-shadow: inset 0px -5px 0px var(--basic-blue-dark);
  box-shadow: inset 0px -5px 0px var(--basic-blue-dark);
}

.nav__list {
  list-style: none;
  padding: 0 30px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.nav__link {
  font-family: var(--basic-font-additional);
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  padding: 18px 23px;
  display: block;
}

.nav__link:hover {
  background-color: var(--basic-blue-dark)
}

.nav__link:active {
  background-color: var(--basic-blue-dark);
  opacity: .7
}

.category {
  padding-top: 58px;
  padding-bottom: 59px;
}

.category-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 20px 300px 20px 300px;
  grid-template-columns: 300px 300px 300px;
  -ms-grid-rows: 123px 20px 123px 20px 123px;
  grid-template-rows: 123px 123px 123px;
  gap: 20px;
}

.category-list > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.category-list > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.category-list > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.category-list > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.category-list > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.category-list > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.category-list > *:nth-child(7) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.category-list > *:nth-child(8) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.category-list > *:nth-child(9) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}

.category-list__item {
  padding: 20px 23px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  position: relative;
  overflow: hidden;

}

.category-list__item::after {
  content: '';
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  width: 44%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
}

.category-list__title {
  font-family: var(--basic-font-additional);
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-white);
  font-weight: 700;
  margin: 0 0 10px 0;
  max-width: 56%;
}

.category-list__link {
  font-family: var(--basic-font-additional);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  min-width: 125px;
  height: 32px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 5px;
  font-size: 14px;
  line-height: 18px;
  background-color: var(--basic-white-transparent);
  color: var(--basic-white);
  text-transform: uppercase;
  margin-top: auto;
}

.category-list__link:hover {
  background-color: var(--background-categoty-link-hover);
}

.category-list__link:active {
  opacity: 0.3;
  background-color: var(--background-categoty-link-active);
}

.category-list__item--materials {
  background-color: var(--color-yellow);
}

.category-list__item--materials::after {
  background-image: url('../img/svg/icon-1.svg');
}

.category-list__item--tool {
  background-color: var(--color-sky);
}

.category-list__item--tool::after {
  background-image: url('../img/svg/icon-2.svg');
}

.category-list__item--technology {
  background-color: var(--color-purple);
}

.category-list__item--technology::after {
  background-image: url('../img/svg/icon-3.svg');
}

.category-list__item--sale {
  background-color: var(--color-green-white);
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 0;
  grid-column-end: 3;
}

.category-list__item--sale::after {
  background-image: url('../img/svg/icon-4.svg');
}

.category-list__item--delivery {
  background-color: var(--color-yellow);
  -ms-grid-column-span: -1;
  grid-column-end: -1;
  -ms-grid-row-span: -1;
  grid-row-end: -1;
}

.category-list__item--delivery::after {
  background-image: url('../img/svg/icon-5.svg');
}

.category-list__gallery {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/ span 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
}

.gallery {
  height: 266px;
  overflow: hidden;
  position: relative
}

.gallery__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

.gallery__block {
  margin: 0;
}

.gallery__item {
  position: relative
}

.gallery__description {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 23px 24px 16px 24px;
  height: 104px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.gallery__link {
  position: absolute;
  left: 24px;
  bottom: 27px;
  z-index: 1;
}

.gallery__title {
  font-family: var(--basic-font-additional);
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: var(--basic-white);
  margin: 0 0 5px 0;
  letter-spacing: 1px;
}

.gallery__text {
  font-family: var(--basic-font-additional);
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  margin: 0;
}

.gallery__button {
  width: 70px;
  height: 40px;
  position: absolute;
  top: 123px;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.gallery__button:focus {
  outline: none
}

.gallery__button:focus path {
  fill: var(--basic-red);
}

.gallery__button:disabled {
  opacity: .5;
}

.gallery__button--prev {
  left: 0;
}

.gallery__button--next {
  right: 0;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: var(--basic-heading-background);
  padding: 26px 14px 26px 28px;
  margin-bottom: 20px;
}

.heading__text {
  font-family: var(--basic-font-additional);
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-blue);
  margin: 0;
  font-weight: normal;
}

.products {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, 220px);
  gap: 20px;
  margin-bottom: 46px;
}

.products--home {
  margin-bottom: 70px;
}

.product-cart {
  padding-bottom: 20px;
  border: 1px solid var(--basic-color-border);
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.product-cart:hover {
  -webkit-box-shadow: 0 4px 12px var(--basic-black-transparent);
  box-shadow: 0 4px 12px var(--basic-black-transparent);
}

.product-cart:hover .product-cart__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-cart__image {
  height: 154px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  margin-bottom: 11px;
  overflow: hidden;
  padding: 6px;
}

.product-cart__image img {
  max-width: 100%;
  height: auto;
}

.product-cart__buttons {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: var(--basic-white);
  display: none;
}

.product-cart__button {
  font-family: var(--basic-font-additional);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border: none;
  width: 135px;
  height: 38px;
  margin: 5px;
  border-radius: 2px;
  cursor: pointer;
}

.product-cart__button:focus {
  outline: none;
}

.product-cart__button--buy {
  color: var(--basic-white);
  background-color: var(--basic-green);
  -webkit-box-shadow: inset 0 -3px 0 var(--shadow-product-cart-botton);
  box-shadow: inset 0 -3px 0 var(--shadow-product-cart-botton);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.product-cart__button--buy::before {
  content: '';
  width: 15px;
  height: 15px;
  display: block;
  margin-right: 8px;
  background-image: url('../img/svg/icon-cart.svg');
  background-position: center;
}

.product-cart__button--buy:hover {
  background-color: var(--background-product-cart-button-buy-hover);
}

.product-cart__button--buy:active {
  background-color: var(--background-product-cart-button-buy-active);
}

.product-cart__button--to-favorites {
  border: 3px solid var(--basic-green);
  background-color: var(--basic-white);
  color: var(--basic-blue);
}

.product-cart__button--to-favorites:hover {
  border-color: var(--basic-blue);
}

.product-cart__button--to-favorites:active {
  border-color: var(--background-product-cart-button-marker-active);
}

.product-cart__title {
  margin-top: 0;
  margin-bottom: 8px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding-left: 20px;
  padding-right: 20px;
}

.product-cart__title-link {
  color: var(--basic-black);
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  display: block;
  font-weight: 700;
}

.product-cart__price {
  color: var(--basic-white);
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  display: block;
  background-color: var(--basic-red);
  width: 122px;
  padding: 10px;
  border-radius: 3px 0 0 3px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.product-cart__price::after {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  border: 19px solid var(--basic-red);
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-right-color: transparent;
  top: 0;
  right: -38px;
}

.product-cart__price-old {
  color: var(--color-price-old);
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 14px;
}

.catalog-label {
  font-family: var(--basic-font-additional);
  background-color: var(--basic-red);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  color: var(--basic-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  z-index: 2;
  width: 100px;
  right: -27px;
  top: 8px;
  height: 30px;
}

.brands {
  padding-bottom: 70px;
}

.brands__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 20px 3fr 20px 3fr 20px 3fr;
  grid-template-columns: repeat(4, 3fr);
  gap: 20px;
  grid-auto-rows: 145px;
}

.brands__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  border: 1px solid var(--basic-color-border);
}

.brands__link:hover {
  -webkit-box-shadow: 0 4px 12px var(--basic-black-transparent);
  box-shadow: 0 4px 12px var(--basic-black-transparent);
}

.brands__link:active {
  -webkit-box-shadow: 0 4px 12px var(--basic-black-transparent);
  box-shadow: 0 4px 12px var(--basic-black-transparent);
  opacity: .5;
}

.service {
  background-color: var(--basic-background);
  padding-top: 64px;
}

.tabs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 20px 1fr 20px 4fr 20px 4fr;
  grid-template-columns: 3fr 1fr 4fr 4fr;
  grid-template-areas: 'buttons . content images';
  gap: 20px;
  padding-top: 49px;
}

.tabs__content,
.tabs__buttons,
.tabs__images {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tabs__buttons {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  position: relative;
  grid-area: buttons;
  width: calc(100% + 20px);
}

.tabs__buttons::after {
  content: '';
  position: absolute;
  right: 0;
  top: -53px;
  bottom: 0;
  width: 10px;
  display: block;
  background-image: url('../img/line.png');
  background-repeat: no-repeat;
  background-position: 100% 10px;
}

.tabs__content {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: content;
  z-index: 1;
  margin-left: -14px;
  margin-right: -15px;
}

.tabs__images {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
  grid-area: images;
  grid-column: 3/ -1;
  text-align: right;
}

.tabs__image {
  display: none;
  padding-top: 20px;
  height: 265px;
  overflow: hidden;
}

.tabs__image--active {
  display: block;
  -webkit-animation: opacity 0.8s;
  animation: opacity 0.8s;
}

.tabs__images img {
  max-width: 100%;
  height: auto;
}

.tabs__item {
  display: none
}

.tabs__item--active {
  display: block;
}

.tabs__title {
  color: var(--basic-blue);
  margin-bottom: 30px;
  font-weight: normal;
}

.tabs__button {
  font-family: var(--basic-font-additional);
  width: 100%;
  min-height: 62px;
  background-color: var(--basic-blue);
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  padding: 12px 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--basic-white);
  border: none;
}

.tabs__button--active {
  background-color: var(--basic-white);
  color: var(--basic-blue);
}

.tabs__button:not(.tabs__button--active):hover {
  background-color: var(--basic-blue-dark);
}

.tabs__button:not(.tabs__button--active) {
  -webkit-box-shadow: 0 1px 0 var(--basic-blue-dark), inset 0 1px 0 var(--shadow-tabs-item);
  box-shadow: 0 1px 0 var(--basic-blue-dark), inset 0 1px 0 var(--shadow-tabs-item);
}

.company-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 6fr 20px 2fr 20px 4fr;
  grid-template-columns: 6fr 2fr 4fr;
  grid-template-areas: 'company . contacts';
  gap: 20px;
  padding-top: 70px;
  padding-bottom: 70px;
}

.company {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: company;
}

.company__list-wrap {
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
  margin-top: 26px;
}

.company__list {
  list-style: none;
  padding: 0;
  margin-top: 1px;
  margin-bottom: 20px;
}

.company__item {
  margin-bottom: 12px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.company__item::before {
  content: '';
  width: 24px;
  height: 2px;
  background-color: var(--basic-red);
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-top: 12px;
  margin-right: 12px;
}

.company__link {
  font-family: var(--basic-font-additional);
  color: var(--basic-black);
  font-size: 18px;
  line-height: 24px;
}

.company__button {
  width: 220px
}

.contacts {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: contacts;
}

.contacts__map {
  height: 158px;
  margin-bottom: 25px;
  margin-top: 32px;
  background-color: var(--backgroud-map);
}

.contacts__button {
  border: none;
  width: 100%;
}

/*Catalog*/
.breadcrumbs {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 18px;
  margin-bottom: 21px;
}

.breadcrumbs__item {
  position: relative;
}

.breadcrumbs__item:not(:last-child) {
  margin-right: 42px;
}

.breadcrumbs__item:not(:last-child)::before,
.breadcrumbs__item:not(:last-child)::after {
  content: '';
  position: absolute;
  width: 7px;
  height: 1px;
  background-color: var(--basic-gray);
  right: -25px;
  top: 50%;
}

.breadcrumbs__item:not(:last-child)::before {
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
  margin-top: -2px;
}

.breadcrumbs__item:not(:last-child)::after {
  -webkit-transform: rotate(-40deg);
  -ms-transform: rotate(-40deg);
  transform: rotate(-40deg);
  margin-top: 2px;
}

.breadcrumbs__link,
.breadcrumbs__text {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.layout {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 20px 3fr 20px 3fr 20px 3fr;
  grid-template-columns: repeat(4, 3fr);
  grid-template-areas: 'left right right right';
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  margin-bottom: 55px
}

.layout__left {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: left;
}

.layout__right {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 5;
  grid-area: right;
}

.filter__title {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--backgroud-catalog-block);
  padding: 10px 18px;
  margin: 0 0 13px 0;
}

.filer-form__field {
  border: none;
  padding: 0 0 26px 0;
  border-bottom: 1px solid var(--basic-color-border);
  margin-bottom: 17px;
}

.filer-form__field--last {
  padding-bottom: 0;
  border: none;
}

.filer-form__field--last .filer-form__title {
  margin-bottom: 22px;
}

.filer-form__title {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-black);
  display: block;
  margin-bottom: 14px;
}

.filer-form__button {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid var(--basic-gray);
  background-color: #ffffff;
  padding: 10px 10px 8px;
  width: 100%;
  margin-top: 20px;
}

.checkbox + label,
.radio + label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 19px;
  position: relative;
  padding-left: 35px;
  min-height: 25px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 14px;
}

.checkbox:disabled + label,
.radio:disabled + label {
  opacity: .4;
}

.checkbox + label:last-child,
.radio + label:last-child {
  margin-bottom: 0;
}

.checkbox + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 23px;
  height: 23px;
  border: 2px solid var(--basic-gray);
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.checkbox:hover:not(:disabled) + label::before {
  border-color: var(--filter-element-color-hover);
}

.checkbox:focus + label::before {
  outline: 2px solid var(--basic-black);
}

.checkbox:checked + label::before {
  border-color: transparent;
}

.checkbox:checked + label::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 27px;
  height: 23px;
  background-image: url('../img/svg/checkbox-on.svg');
  background-repeat: no-repeat;
  background-size: 27px;
}

.checkbox:checked + label:hover::after {
  background-image: url('../img/svg/checkbox-on-hover.svg');
}

.radio + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 25px;
  height: 25px;
  border: 5px solid var(--basic-gray);
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.radio + label:hover::before,
.radio + label:hover::after {
  border-color: var(--filter-element-color-hover);
}

.radio:focus + label::before {
  -webkit-box-shadow: 0 0 0 2px var(--basic-black);
  box-shadow: 0 0 0 2px var(--basic-black);
}

.radio:disabled + label {
  opacity: .4;
}

.radio:checked + label::after {
  content: "";
  position: absolute;
  left: 8px;
  top: 8px;
  width: 9px;
  height: 9px;
  background-color: var(--basic-gray);
  border-radius: 50%;
}

.range-price {
  background-color: var(--backgroud-catalog-block);
  position: relative;
  height: 76px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 3px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.range-price__line {
  height: 2px;
  background-color: var(--basic-gray);
  width: 100%;
}

.range-price__active-line {
  height: 2px;
  background: #00ca74;
}

.range-price__item {
  background-color: var(--basic-gray);
  position: absolute;
  top: 29px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 var(--basic-gray);
  box-shadow: 0 2px 1px 0 var(--basic-gray);
  cursor: pointer;
}

.range-price__item:focus {
  outline: none;
}

.range-price__item--min {
  left: 15px
}

.range-price__item--max {
  left: 180px
}

.group-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.group-price::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 8px;
  height: 1px;
  left: 50%;
  margin-left: -4px;
  background-color: var(--basic-black);
}

.group-price__input {
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--backgroud-catalog-block);
  border: none;
  text-align: center;
  width: 44%;
  height: 38px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 3px;
  padding-left: 18px;
}

.sort {
  background-color: var(--backgroud-catalog-block);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 38px;
  margin-bottom: 28px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.sort__text {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  margin: 0;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  padding-left: 20px;
}

.sort__item--type {
  text-align: center;
}

.sort__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 2fr 20px 2fr 20px 1fr;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 65.5%;
}

.sort__item--arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.sort__link {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.sort__link:not(.sort__link--active) {
  color: var(--basic-gray);
  border-bottom: 1px dotted var(--basic-red);
}

.sort__link--active {
  color: var(--basic-red);
}

.sort__link:hover:not(.sort__link--active) {
  border-bottom: 1px solid var(--basic-red);
  color: var(--basic-black);
}

.sort__arrow {
  width: 30px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 38px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.sort__arrow--active path {
  fill: var(--basic-red);
}

.sort__arrow--up {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
  padding-left: 3px;
}

.sort__arrow--down {
  padding-right: 4px;
}

.sort__arrow:hover path {
  fill: var(--basic-black);
}

.sort__arrow:active path {
  fill: var(--basic-red);
}

.pagination {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.pagination__item:not(:last-child) {
  margin-right: 9px;
  margin-bottom: 5px;
}

.pagination__link {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  border: 1px solid var(--pagination-border);
  display: block;
  border-radius: 3px;
  padding: 10px 15px 8px 15px;
  text-align: center;
}

.pagination__link--text {
  padding-left: 30px;
  padding-right: 30px;
}

.pagination__link--active {
  background-color: var(--basic-red);
  border-color: var(--basic-red);
  color: var(--basic-white);
}

.pagination__link:hover {
  border-color: var(--basic-gray);
}

.pagination__link:active {
  border-color: var(--basic-red);
}

.category-description {
  background-color: var(--basic-background);
  padding-top: 64px;
  padding-bottom: 50px;
}

/*Footer*/
.footer {
  background-color: var(--basic-blue);
}

.footer__top-line,
.footer__middle-line {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(12, 1fr);
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
}

.footer__top-line {
  min-height: 68px;
  margin-bottom: 22px;
}

.footer__logo {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1/ span 5;
  grid-row: 1/-1;
}

.footer__logo img {
  width: 135px;
  height: auto;
}

.footer__middle-line {
  margin-bottom: 54px;
}

.footer__address {
  font-family: var(--basic-font-additional);
  font-size: 18px;
  line-height: 24px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1/ span 5;
  padding-left: 3px;
}

.footer__address,
.footer__address a {
  color: var(--basic-white);
}

.footer__address {
  margin: 0;
}

.footer__bottom-line {
  background-color: var(--basic-blue-dark);
}

.footer-nav,
.footer-menu,
.social {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer-nav,
.footer-menu {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
}

.footer-nav {
  -ms-grid-column: 6;
  -ms-grid-column-span: 7;
  grid-column: 6/ span 7;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-left: -20px;
}

.footer-menu {
  -ms-grid-column: 6;
  -ms-grid-column-span: 7;
  grid-column: 6/ span 7;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.footer-nav__item,
.footer-menu__item {
  margin-left: 16px;
}

.footer-menu__link,
.footer-nav__link {
  font-family: var(--basic-font-additional);
  font-size: 18px;
  line-height: 24px;
}

.footer-menu__link:hover,
.footer-nav__link:hover {
  text-decoration: underline;
}

.footer-menu__link:active {
  color: var(--color-footer-menu-link-active);
}

.footer-nav__link:active {
  color: var(--color-footer-nav-link-active);
}

.footer-nav__link {
  color: var(--basic-white);
}

.footer-menu__link {
  color: var(--color-yellow);
}

.footer__bottom-line {
  padding-top: 36px;
  padding-bottom: 34px;
}

.footer__bottom-line-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(12, 1fr);
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
}

.copyright {
  font-family: var(--basic-font-additional);
  color: var(--basic-white);
  font-size: 16px;
  line-height: 19px;
  font-style: normal;
  grid-area: copyright;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/ span 4;
  grid-row: 1/-1;
  padding-left: 2px;
}

.footer-info {
  font-family: var(--basic-font-additional);
  margin: 0;
  color: var(--basic-white);
}

.footer-info--academy-mail {
  -ms-grid-column: 9;
  -ms-grid-column-span: 2;
  grid-column: 9/ span 2;
  grid-row: 1/-1;
}

.footer-info--academy-link {
  -ms-grid-column: 11;
  -ms-grid-column-span: 2;
  grid-column: 11/ span 2;
  grid-row: 1/-1;
  margin-left: auto;
  margin-right: 12px;
}

.footer-info__link {
  font-family: var(--basic-font-additional);
  display: block;
  color: var(--color-yellow);
  font-size: 16px;
  line-height: 18px;
}

.footer-info__link:hover {
  text-decoration: underline;
}

.footer-info__link:active {
  color: var(--basic-red);
}

.social {
  grid-area: social;
  -ms-grid-column: 6;
  -ms-grid-column-span: 2;
  grid-column: 6/ span 2;
  grid-row: 1/-1;
  margin-left: -10px;
}

.social__item {
  margin-right: 4px;
}

.social__link {
  width: 41px;
  height: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: var(--color-social);
  border-radius: 50%;
}

.social__link:hover,
.social__link:active {
  background-color: var(--basic-red);
}

.popup {
  display: none;
  background-color: var(--basic-white);
  border-top: 7px solid var(--basic-red);
  -webkit-box-shadow: 0 4px 20px 0 var(--basic-black-transparent);
  box-shadow: 0 4px 20px 0 var(--basic-black-transparent);
  position: fixed;
  top: 100px;
  right: 0;
  left: 0;
  z-index: 9;
  margin: auto;
  max-width: 620px;
}

.popup--show {
  display: block;
  -webkit-animation: bounce 0.6s;
  animation: bounce 0.6s;
}

.popup--error {
  -webkit-animation: shake 0.6s;
  animation: shake 0.6s;
}

.popup--show.popup--cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popup--cart {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.popup--map {
  max-width: 943px;
  height: 450px;
  font-size: 0;
}

.popup--map img,
.popup--map iframe {
  width: 100%;
  height: 100%;
}

.popup--map iframe {
  border: none
}

.popup--map img {
  -o-object-fit: cover;
  object-fit: cover;
}

.popup__close {
  border: none;
  background-color: transparent;
}

.popup-cart__text {
  font-family: var(--basic-font-additional);
  color: var(--basic-black);
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: -96px;
  margin-top: 55px;
  margin-bottom: 55px;
}

.popup-cart__text::before {
  content: '';
  display: block;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  background-color: var(--basic-green);
  margin-right: 30px;
}

.popup-cart__text::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 28px;
  border-right: 7px solid var(--basic-white);
  border-bottom: 7px solid var(--basic-white);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 24px;
  top: 12px;
}

.popup__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--background-popup-buttons);
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 112px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 20px 0 0
}

.popup__button {
  margin: 5px;
}

.popup-cart__buttons .button {
  margin: 5px;
}

.popup__close {
  position: absolute;
  top: 10px;
  right: 11px;
  width: 22px;
  height: 22px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.popup__close::before,
.popup__close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 22px;
  height: 3px;
  background-color: var(--basic-red);
}

.popup__close::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.popup__close::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.button--back {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.button--back:hover {
  color: var(--basic-white);
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 81px;
  padding-right: 81px;
  padding-top: 46px;
}

.field {
  margin-bottom: 13px;
  width: 50%;
  padding: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.field--notification {
  width: 100%
}

.field__text {
  font-family: var(--basic-font-additional);
  display: block;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 10px;
}

.form__button {
  border: none;
}

.field__input,
.field__notification {
  font-family: inherit;
  color: var(--basic-black);
  border: 2px solid var(--basic-gray);
  border-radius: 2px;
  width: 100%;
  font-size: 13px;
  line-height: 24px;
  padding: 6px 12px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.field__notification {
  resize: vertical;
}

.field-error {
  border-color: var(--basic-red);
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
